@import '../../../variables.scss';

.btn {
    background-color: $highlight-color;
    border: none;
    border-radius: 5px;
    color: $main-background-color;
    cursor: pointer;
    outline: none;
    padding: 10px 20px;
    transition: $transition-default;

    &:hover {
        background-color: $highlight-color_hover;
    }

    &:active {
        background-color: $highlight-color_active;
    }

    &[disabled] {
        background-color: $disable-color;
        pointer-events: none;
    }

    & + .btn {
        margin-left: $grid-gap*2;
    }
}