@import './variables';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $body-color;
  color: $font-color-text;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5, h6 {
  color: $font-color-heading;
}

h1 {
  &:not(:last-child) {
    margin-bottom: $h1-mb;
  }
}

h2, h3, h4, h5, h6 {
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

p {
  &:not(:last-child) {
    margin-bottom: 6px;
  }
}

.nrcl-page {
  column-gap: $menu-content-gap;
  display: flex;
  padding: $page-pt $page-pl-pr $page-pb;

  @media screen and (max-width: 767px) {
    padding-top: calc(50px + 20px);
  }

  &__menu {
    background: $main-background-color;
    display: flex;
    flex-direction: column;
    height: 100vh;
    left: 0;
    max-width: $menu-width;
    overflow-y: auto;
    padding: $menu-padding;
    position: fixed;
    top: 0;
    width: $menu-width;

    @media screen and (max-width: 767px) {
      column-gap: 10px;
      flex-direction: row;
      height: 50px;
      max-height: 50px;
      max-width: none;
      white-space: nowrap;
      width: 100%;
    }
  }

  &__content {
    border-radius: $br-block;
    box-sizing: border-box;
    margin-left: auto;
    max-height: calc(100vh - ($page-pt + $page-pb));
    max-width: calc(100% - $menu-width);
    width: calc(100% - $menu-width);

    @media screen and (max-width: 767px) {
      max-height: calc(100vh - 50px - 20px - 20px);
      max-width: none;
      width: 100%;
    }

    & > h1 {
      padding-left: 20px;

      @media screen and (max-height:499px) {
        display: none;
      }
    }
  }
}

.nrcl-components {
    background: $main-background-color;
    border-radius: $br-block;
    height: calc(100% - $h1-mb - $content-padding*2);
    padding: $content-padding;

    @media screen and (max-height:499px) {
      height: calc(100%);
    }

    &__element {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
}

.nrcl-components__category {
  &:not(:last-child) {
    margin-bottom: 50px;
  }

  &-description {
    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }
}

.custom__scroll_gray {
  overflow-y: auto;

  &::-webkit-scrollbar-track {
    border-radius: 2px;
    background: #E3E3E2;
  }
  
  &::-webkit-scrollbar {
    width: 4px;
  }
  
  &::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: #CDCDCD;
  
    &:hover {
      background-color: #9e9e9e;
    }
  }
  
  &:hover::-webkit-scrollbar-thumb {
    background-color: #adadad;
  }
}