$highlight-color: #12a114;
$highlight-color_hover: #18b61b;
$highlight-color_active: rgb(25, 170, 27);

$disable-color: #a1a1a1;
$non-important-color: #9f9f9f;
$non-important-color_hover: #c7c7c7;

$h1-mb: 25px;

$transition-default: .3s;

$grid-gap: 5px;

$body-color: #d7d7d7;
$main-background-color: #ffffff;

$page-pt: 30px;
$page-pl-pr: 20px;
$page-pb: 20px;

$br-block: 20px;

$menu-content-gap: 20px;
$menu-padding: 10px;
$menu-width: 200px;

$content-padding: 20px;

$font-color-text: #4e4e4e;
$font-color-heading: #000000;
$link-color-hover: $highlight-color;